*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    
}
body{
    background-image:url(https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/c413f20400e04805.webp);
    background-size: cover;
    background-size: 100% ;
    background-repeat:no-repeat;
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "UberMoveText";
    src: url("fonts/14f73a3f74611002.woff2");
}
@font-face {
    font-family: "Uber Move-medium";
    src: url("fonts/medium.woff2");
}

@font-face {
    font-family: "Uber Move-bold";
    src: url("assets/fonts/bold.woff2");
}
* {
    font-family: "UberMoveText" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 400;
}
.nav .menu{
    padding: 10px;
    margin:10px;
    /* background:#fff; */

}
.nav .menu img{
    width: 20px;
    position: fixed;
    z-index: 1;
    margin-left: 20px;
    margin-top: 0px;
}
.nav .logo{
    padding:10px;
    margin:10px;
}
.nav .logo img{
    width:91px;
    position: fixed;
    margin-left: 62px;
    margin-top: -28px;
    size: 100%;
}
.nav .login-btn .loginbtn:hover{
    background: #e0dddd;

}
.nav .login-btn .loginbtn{
    text-decoration: none;
    position: fixed;
    width:62px;
    height:36px;
    padding: 5px;
    border-radius: 500px;
    border: none;
    font-size: 15px;
    /* margin-left:1710px; */
    font-weight: 500;
    margin-top: -55px;
    right: 128px;
    font-size: 14px;
    line-height: 16px;
    font-family:"Uber Move-medium"!important;    
}
.nav .login-btn .signup:hover{
    background: #333232;
    justify-content: center;
    align-items: center;
    
}
.nav .login-btn .signup{
    position: fixed;
    width:73px;
    background-color: #000;
    color: #fff;
    height:36px;
    padding:0px;
    border-radius: 500px;
    border: none;
    font-size: 15px;
    /* margin-left:1800px; */
    margin-top: -55px;
    font-weight: 500;
    right:38px;
    font-size: 14px;
    font-family:"Uber Move-medium"!important;    
    width:180x;
    text-align: center;
}
 
h1{
    max-width: 60%;
    display:block;
    margin-top:330px;
    padding-left: 40px;
    font-size: 52px;
    line-height: 64px;
    font-family: "UberMoveText" !important ;
    font-weight: 00;
    color: #000;
    /* margin:0; */
}
.forms{
    margin-top: 40px;
}
.forms .form1{
    position: absolute;
    border:none;
    margin-left:40px;
    font:inherit;
    height:53px;
    width: 28%;
    padding:0;
    cursor: pointer;
    background-color: #ffff;
    display: flex;
    font-size: 16px;
    cursor: text;
    border:none;
    font-family:"Uber Move-medium"!important;
}

.form1 >input{
    width: 100%;
    outline: none;
    padding:10px;
    border:none;
    font-size: 16px;
    font-family:"Uber Move-medium"!important;
}
/* day8 */
.form1 img{
    position: absolute;
    width:25px;
    top: 10px;
    margin-left: 18px;
    transform: translateX(0px);
    margin-top: 5px;
}
  .form2{
    display: flex;
    justify-content: center;
    position:relative;
    min-width:250px;
    height:50px;
    left: 2px;
    margin-right:100px;
    /* margin-bottom: 200px; */
    margin-left: -130px;
    font-family:"Uber Move-medium"!important;
  }
  .form2 .icon{
    width:50px;
    height:100%;
    position:absolute;
    z-index:1;
    left:700px;
    display:flex;
    align-items:center;
    justify-content:center;
    /* font-family:"Uber Move-medium"!important; */
  }
  .form2  .dropdown h2{
    margin-right:100px ;
    /* font-family:"Uber Move-medium"!important; */
  }
  .icon img{
    width:24px;
    color:#000;
    margin-top:8px;
    margin-left: 23px;
  }
  .dropdown{
    position: absolute;
    left:700px;
    border:none;
    outline:none;
    padding:0 56px 0 30px;
    width:10%;
    height:55px;
    font-size:16px;
    font-weight: 450;
    background-color: #fff;
    margin:0;
    font-family:"Uber Move-medium"!important;
    /* transform: translateY(-245px); */
    margin-left: 10px;
    text-align: center;
  }

.search button{
    display: flex;
    font-size:18px;
    padding: 13px 16px;
    /* width: max-content; */
    height:55px;
    background: #000;
    justify-content: center;
    font-weight:500;
    transform: translate(750px,-278px);
    margin-top: 228px;
    margin-left: 45px;
    border-radius: 10px;
    color: #fff;
    border:none;
    font-family:"Uber Move-medium"!important;

}
.search .btn{
   /* position:absolute; */
   /* top:0; */
   /* right: 140px; */
   /* margin-top: 16px; */
   margin-right: 18px;
   font-weight: 700;
}
/* .body ::after{
    display: grid;
} */
.sign-in{
    border: none;
    margin: 0;
    padding: 0;
    margin-left:45px;
    margin-top:-250px;

}
.sign-in p{
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-family:"Uber Move-medium"!important;
}
.sign-in  p a {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    font-family:"Uber Move-medium"!important;


}
/* main stsrts */
 .main-content{ 
    display:grid;
     /* padding */
     grid-template-columns: 1fr 1fr 1fr;
     padding: 0;
     grid-column-gap: 22px;
     grid-row-gap:0;
     transform:translateY(180px);
     margin-top:21%;
     cursor: pointer;
}
.main-content a{
    text-decoration: none;
    cursor: pointer;
    font-family:"Uber Move-medium"!important;

}
.main-content p{
    text-decoration:underline;
    cursor: pointer;
    color: #000000;
    font-family:"Uber Move-medium"!important;
    font-size:15px;
}
.main-content img{
    width:100%;
    margin-left: -25px;
    margin-right: 25px;
    cursor: pointer;
}
.main-content .image h2{
    padding: 0;
    font-size:30px;
    color:#000000;
    font-family:"Uber Move-medium"!important;
    font-weight:700;
    text-align: left;
    text-decoration: none;
}


.cities{
    position:relative;
    display: flex;
    padding: 0;
    margin: 0;

}
.cities  .location{
    display :flex;
    justify-content: space-between;
}
 .location h2{
    line-height: 44px;
    font-weight:501;
    font-size: 36px;
    font-family:"UberMoveText"!important;
    margin-block: .83em;
    margin-left: 38px;
    margin-top: 300px;
    color: #000000;
    max-width: 1500px;
    margin-bottom: 20px;
}
 .location a{
  display: flex;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  font-family:"Uber Move-medium"!important;
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 20px;
  margin-left:1333px;
  margin-bottom:20px;
  align-items: flex-end;

}
.cities .map{
    display: block;
    position:absolute;
    width:96%;
    height: 100%;
    margin:0;
    margin-top:0%;
    margin-left: 36px;
    z-index: 0;
    /* width:10px; */
}
.cities .map img{
    width:100%;
    /* background: #000000; */
}
 .loc .del-place  {
    border:0;
    padding: 0;
    /* background: #8d3434; */
}
  .loc .del-place{
    display:flex;
    justify-content: space-between;
    /* background: #000; */
    /* color:#bdaeae94; */
}
 /* day10 */
 .loc .del-place .places{
     display: flex;
     justify-content: space-between;
    
     margin-top:500px ;
     
 }
 .del-place .places ul{
    color: #000000;
    max-width: 1500px;
    min-width: 500px;
    margin-left: 35px;
    list-style: none;
    margin-bottom: 50px;
    margin-right: -90px;

 }
 .places ul li{
    /* color: rgb(238, 24, 24); */
    font-family:"UberMoveText"!important;
    line-height: 3;
    font-weight:-10px;
    cursor: pointer;
    font-size: 16 px;
 }
 .countries{
    margin:0;
    padding:0;
    /* background: black; */
 }
 .countries .country h2{
    display: flex;
    margin-left:35px;
    font-weight:0 ;
    line-height: 44px;
    font-size: 36px;
    font-family: "UberMoveText" !important;
    color: #000000;
    /* background: #000000; */
    margin-bottom: 20px;

 }
 .country a{
    display: flex;
    cursor: pointer;
    font-family:"Uber Move-medium"!important;
    color: #000;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    font-size: 16px;
    margin-left: 1670px;
    margin-top: -40px;
 }
 .country .count-column{
   display: flex;
   justify-content: space-between;
   /* width:100%; */
   /* gap:24px; */
 }

 .count-column .clm{
    max-width:100px;
    min-width: 50px;
    margin-left: 35px;
    list-style: none;
    margin-top: 20px;
   margin-right:20%;
    /* background-color: #fff; */
 }
.country .count-column .clm li {
    color: #000000; 
    font-family: "UberMoveText" !important;
    font-size: 16px;
    font-weight: 40;
    line-height: 50px;
    cursor: pointer;
    width:200px;
    /* background-color: aqua; */

}
.border-top{
    margin: 0;
    margin-top: 100px;
    width:100%;
    height:0.5px;
    padding :0;
    border-top: 1px solid #f3f3f3;

}
.border-top hr{
    border-top: 1px solid #f3f3f3;
}
.footer{
    /* background: #000; */
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: left;
    margin-left: 230px;
    margin-top:150px;
}
.footer .end{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.end {
    max-width: px;
    align-items: flex-start;
}
.end  .ubereats{
    display: flex;
    width:500px;
    height:50px;
 /* margin-top:0px; */
    margin-bottom:100px;
    height: 24px;
    color: #000000;
    margin-left:50px;

}
 .end .ubereats img {
    margin-left: 60px;
    width: 138px;
    height:50%px;
    /* margin-bottom: 64px; */
    
}
 .appstore{
   width:100px;
   margin-top:40px;
}
.appstore img{
    margin-top:50px;
     margin-left:109px ;
}
/* 27/05 */
.googleplay {
/* margin-top: 300px; */
margin-top: -45px;
}
.googleplay img{
    width: 17%;
    height:84%;
    margin-left: 250px;
    /* margin-top:50px; */
}

.footer .footer-cont{
    padding:0;
    margin: 0;
    /* background-color: #000000; */
}
 .footer .footer-cont .items{
    /* background-color: #000000; */
    display: flex;
    margin-left: 750px;
    margin-top: -250px;
    width: 100%;
    justify-content: space-between;

}
.items{
    display: flex;
    /* background-color: ; */
    min-width: 200px;
    max-width:510px;

}
.items ul{
    list-style: none;
    
}
.items ul li{
    font-family:"Uber Move-medium"!important;
    font-size: 16px;
    font-weight: 40;
    line-height:40px;
    cursor: pointer;
   
}
.items ul li:hover{
   text-decoration: underline;
}
 .second  img{
    /* background-color: #000000; */
   width: 15px;
}
.second .eng{ 
    margin-top: -30px;
    margin-left: 20px;
}
.border-bot{
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-top: 50px;
    width:100%;
    /* height:0.5px; */
    padding :0;
    border-top: 1px solid #ffffff;
}
.border-bot hr{
    color:white;
    margin-left: -1000px;
    width: 5000px;
}
.social{
    /* background: #000; */
    /* display: flex; */
    /* flex-direction: row; */
    padding: 35px 0  ;
    margin: 0;
    margin-left:100px;
}
.social img{
    width:20px;
    
}
.social .twit{
  margin-left: 15px;
}
.social .insta{
    margin-left: 15px;
}
.social p{
  margin-bottom: 16px;
  font-family: "Uber Move-medium" !important;  
  font-size: 14px;
  line-height: 10px;
}
/* p:hover{
    text-decoration: underline;
} */
.social .privacy{
    margin-left: 600px;
    margin-top: -11px;
}
.social .terms{
    margin-left: 720px;
    margin-top: -25px;
}
.social .pricing{
    margin-left: 790px;
    margin-top: -25px;
}
.social .donot{
    margin-left: 870px;
    margin-top: -25px;
}
.about{
 font-size: 10px;
 margin-bottom: 50px;
 /* margin-left: 200px; */
 

}
.about p{
    line-height:0px;
    font-family: "Uber Move-medium" !important;  
    font-size: 14px;
    margin-bottom: 16px;
}

.about .g1{
    margin-left:790px ;
    margin-top: -15px;
}
.about .g1:hover{
    text-decoration: underline;
}
.about .and{
    margin-left:936px ;
    margin-top: -15px;
}
.about .g2{
    margin-left:968px ;
    margin-top: -16px;
}
.about .g2:hover{
    text-decoration: underline;
}
.about .app{
    margin-left:1085px ;
    margin-top: -17px;  
}
.about .service{
    margin-left: 494px;
    margin-top: -22px;
}
.about .ubertech{
    margin-left: 1160px;
    margin-top:-15px;
}